@media screen and (max-width: 425px) {
  
  #navbar{
    height: 45vh;
    width: 12vw;
    margin-left: 5px;
  }
  .section{
    min-height: 50vh;
    /* padding-right: 5%; */
  }

  .bold{
    font-weight: 500;
  }

  .intro{
    padding-top: 25%;
    text-align: center;
  }
  .intro h3{
    font-weight: 600;
    font-size: 6.5vw;
  }

  .background{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #background-header{
    width: 40vw;
  }
  #background-header h3{
    font-size: x-large;
    font-weight:bold;
  }
  .background h3{
    font-weight: 400;
    font-size: 6vw;
    margin-bottom: 25%;
  }
  .background p{
    font-weight: 300;
    font-size: 4.5vw;
  }



  .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills-header{
    width: 40vw;
  }
  #skills-header h3{
    font-size: x-large;
    font-weight:bold;
  }
  .skills h3{
    font-weight: 400;
    font-size: 6vw;
    margin-bottom: 15%;
  }
  #skills-content {
    flex-direction: column;
    justify-content: space-between;
  }
  #frontend{
    margin: 0 0 18% 0;
  }
  #backend{
    margin: 0 0 18% 0;
  }
  #dbtools{
    margin: 0;
  }
  #skills-content h5{
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 5%;
  }
  #skills-content p{
    font-size: 4vw;
  }





  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 8% 10% 8%;
  }
  .project-wrapper{
    margin: 1.5vh 0;
    width: 75vw;
  }
  #projects-content{
    flex-direction: column;
  }
  /* #top-proj-content{
    width: inherit;
  }
  #btm-proj-content{
    width: 80vw;
  } */
  .project-img-wrapper{
    width: 70vw;
  }
  /* #projects-header{
    width: auto;
  } */
  #projects-header h3{
    font-size: x-large;
    font-weight:bold;
  }
  .projects h3{
    font-weight: 400;
    font-size: 6vw;
    margin-bottom: 15%;
  }
  #projects-content h5{
    font-size: 5vw;
    margin: 10px 0 15px 0;

  }
  #projects-content p{
    font-size: 4vw;
    margin: 0;
  }
  .chosen{
    display: none;
  }
  .blur{
    opacity: 1;
  }

}